.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#start{
    height: fit-content;
}
#stop{
    height: fit-content;
}
#reset{
    height: fit-content;
}
.input{
    height: fit-content;
}

