body {
  font-family: 'Courier New', Courier, monospace; 
  background-color: black;
  height: auto;
}
.container {
  display: grid;
  margin: auto;
  width: 100%;
  height: 100%;
  gap: 10px;
  grid-template-columns: 25% 75%;
  grid-template-rows: auto auto auto;
  grid-template-areas:
  "hd hd"
  "mb ct"
  "ft1 ft2";
  padding: 10px;
  border-radius: 30px;
  box-sizing: border-box;
}
.inputBoxes {
  display: flex;
  grid-area: ft2;
  justify-content: space-between;
  padding: 0.5em 1em;
  background-color: var(--primary-color, darkgrey);
  border-radius: 6px;
  font-size: 1.2rem;
  border-radius: 10px;
}
.buttonBox{
  grid-area: ft1;     
  padding: 10px;
  border-radius: 10px;
  display: flex;          
  gap: 10px;
  justify-content: space-around;
  background-color: darkgrey;
}
.clock-container {
  grid-area: mb;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;       
  background-color: aqua;  
  border-radius: 1%;
  height: 800px;
}
.clock {
  height: 250px;
  width: 250px;
  border: 5px solid black;
  border-radius: 50%;
  margin: 0 auto;
  display: flex;                 
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.title{
  grid-area: hd;
  background-color: blue;
  border-radius: 10px;
  width: 20vh;
}
.timer{
  grid-area: ct;
  background-color: aqua;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  font-size: 200px;
  padding-top: 30vh;
}
.title{
  display: flex;
  justify-content: center;
  font-size: 25px;
}
